<h1> Connecxion </h1>

<div>
    <%= form_with url: logins_path do |form| %>
        <p>
            <%= form.label "Aderesse mail: " %>
            <%= form.email_field :email, id: 'email' %>
        </p>

        <p>
            <%= form.label "Mot de passe: " %>
            <%= form.password_field :password, id:'password'%>
        </p>

        <p>
            <%= form.submit "connecter"%>
        </p>
    <% end %>
</div>