<div class="connect">
    <h1> Merci pour votre connexion</h1>

    <div>
        Prenom et nom: 
        <%= @auth.first_name %>
    <%= @auth.name %>
    </div>

    <div>
        Sexe: 
        <%= @auth.gender%>
    </div>

    <div> 
        Pays: 
        <%= @auth.country%>
    </div>

    <%= link_to "page d'accueille", root_path %>
</div>